html, body {
  height: 100%;
}
body {
  margin: 0;
  background: none;
}
.bg {
  position: fixed;
  top: 0;
  left: -50%;
  bottom: 0;
  right: -50%;
  z-index: -1;
  opacity: .5;
  animation: slide 3s ease-in-out infinite alternate;
  background: linear-gradient(-60deg, #6c3 50%, #09f 50%);
}
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}
.bg3 {
  animation-duration: 5s;
}
@keyframes slide {
  0% { transform: translateX(-25%);}
  100% { transform: translateX(25%);}
}

.auth-bg {
  min-height: 100vh;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-bottom: 32px;
  position: relative;
  z-index: 2;
}

.auth-form {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 35px 0 #e3e3ef33, 0 1px 14px #e3e3e952;
  width: 100%;
  max-width: 370px;
  padding: 37px 30px 22px 30px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  border: 1.3px solid #eaeaf1;
}

.auth-title {
  font-size: 1.34em;
  font-weight: 700;
  color: #292c30;
  margin-bottom: 9px;
  letter-spacing: .01em;
  text-align: left;
}
.auth-fieldgroup {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}
.auth-input {
  width: 100%;
  padding: 13px 13px;
  font-size: 1.07em;
  border-radius: 7px;
  border: 1.3px solid #e2e3ec;
  background: #f8f9fc;
  color: #1c1d22;
  outline: none;
  transition: border-color .17s, box-shadow .17s;
}
.auth-input:focus {
  border: 1.5px solid #4161ce;
  background: #f5f8ff;
  box-shadow: 0 2px 12px #c7cce729;
}
.auth-btn {
  background: linear-gradient(90deg, #18181b 0%, #58585f 100%);
  color: #fff;
  font-weight: 600;
  font-size: 1.13em;
  border: none;
  border-radius: 22px;
  padding: 13px 0;
  margin-top: 3px;
  cursor: pointer;
  box-shadow: 0 4px 16px #d9dbec11;
  transition: background .17s, color .13s;
  width: 100%;
  letter-spacing: 0.01em;
}
.auth-btn:hover { background: linear-gradient(90deg, #232425 0%, #262632 100%);}
.auth-error {
  color: #be1a2e;
  font-size: 0.97em;
  background: #f8e1e6;
  border-radius: 6px;
  padding: 8px 6px 7px 6px;
  font-weight: 500;
  text-align: center;
}
.auth-success {
  color: #228d2f;
  font-size: 0.98em;
  background: #e5f7ea;
  border-radius: 6px;
  padding: 8px 4px 7px 6px;
  font-weight: 500;
  text-align: center;
}
.auth-alt {
  font-size: 0.97em;
  color: #232232;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.auth-link {
  color: #375dda;
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
  margin: 0 0 0 3px;
  text-decoration: underline;
  transition: color .14s;
}
.auth-link:hover { color: #133986; text-decoration: underline; }
@media (max-width: 400px) {
  .auth-form { padding: 12px 2vw 10px 2vw; border-radius: 8px;}
  .auth-title { font-size: 1.05em; }
  .auth-btn { font-size: 1em; }
}